.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages-list {
  &__advantages {
    margin-top: calc(-1 * var(--margin));
    margin-left: calc(-1 * var(--margin));
  }
}

.advantages__items {
  flex-basis: calc((100% - 4 * var(--margin)) / 4);
  margin-top: var(--margin);
  margin-left: var(--margin);
}

.advantages__title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--widgets-link-background-color);
  margin-bottom: var(--margin);
}

.advantages__icons {
  width: 70px;
  height: 70px;
}

.advantages__text {
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
