.modal-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  margin-bottom: 30px;

  &::before {
    display: block;
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-color);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
  }

  .modal-form__checkbox:checked + &::before {
    background-image: url('../images/check.svg');
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .modal-form__checkbox:hover + &::before,
  .modal-form__checkbox:focus + &::before {
    outline: 2px solid var(--accent-color);
  }
}
