.our-job {
  &__job-cards {
    margin-top: calc(-1 * var(--margin));
    margin-left: calc(-1 * var(--margin));
  }

  &_padding {
    padding-top: 0;
  }
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.main-title_position {
  margin-bottom: 50px;
}

.job-cards {
  display: flex;
  flex-wrap: wrap;
}

.job-cards__item {
  flex-basis: calc((100% - 3 * var(--margin)) / 3);
  margin-top: var(--margin);
  margin-left: var(--margin);
}

.job-cards__images {
  position: relative;
}

.job-cards__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  padding: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  background-color: var(--job-img-overlay-bg-color);
}
